@import "blocks/smart-grid.scss";
@import "blocks/project.scss";
@import "fontello.scss";

@include reset();

html{
	font-size: 16px;
	/*
	.xs(font-size, 14px);*/
}

//
//.debug{
//    @include debug(rgba(0, 0, 0, 0.5), 1px solid #fff263);
//}
//

.wrapper{
	@include wrapper();
}

.navigation {
	background: $color_red;
}

.nav {
	//width: 1200px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	width: 180px;
	//margin-right: 60px;

	li {
		display: inline;
		list-style-type: none;
		margin-left: 15px;

		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $color_white;
			font-size: 1.25rem;
		}

		p {
			color: $color_white;
			font-size: 1rem;
			text-align: center;
		}
	}
}

.nav__menu {
	width: 820px;

	ul {
		display: flex;
		align-content: end;
		align-items: end;
	}

	li {
		display: inline;
		list-style-type: none;
		margin-left: 40px;
		padding: 5px 10px;
		&:hover {
			background: $color_black;
		}

		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $color_white;
			&:hover {
				cursor: pointer;
				border-bottom: 2px solid $color_white;
			}
		}
	}
}

.main__header {
	background: $color_header;

	&-content {
		text-align: center;
		padding-top: 60px;
		padding-bottom: 60px;

		h1 {
			font-size: 3rem;
			color: $color_white;
			margin-bottom: 10px;
		}

		p {
			font-size: 1.25rem;
			color: $color_white;
		}
	}
}



h2, .h2{
	font-size: 2.5rem;
	text-align: center;
	margin: 20px 0;

	@include xs(font-size, 2rem);
}
.h2sub{
	text-align: center;
	font-size: 20px;
	margin: 20px 0;
}

.profit{
	background: $color_black;
	padding: 15px 0;

	&__title{
		color: #fff;
	}

	&__subtitle{
		color: $color_green;
	}
}

.profitItems{
	@include row-flex();
	justify-content: space-around;
}

.profitItem{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;

	@include col();
	@include size(3);
	@include size-md(5);
	@include size-xs(10);
	@include size-xxs(12);

	/* .to(380px, {
			width: ~"calc(100% - @{offset})";
	});
 */

	&__img{
		border-radius: 50%;

		&-main{
			box-shadow: 0 0 10px #fff;
		}
	}

	&__subtitle{
		color: #fff;
		font-size: 1.5rem;
		margin: 3px 0;
	}

	&__text{
		font-size: 16px;
		color: #d94948;
	}
}

.humans{
	background: $color_green;
	padding: 10px 0;

	h2{
		color: $color_black;
	}

	.h2sub{
		color: #fff;
	}

	.items{
		justify-content: center;
		@include row-flex();
		justify-content: center;

		.item{
			@include col();
			@include size(3);
			@include size-md(5);
			@include size-sm(6);
			@include size-xs(10);
			@include size-xxs(12);

			border-radius: 10px;
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 10px;
			text-align: center;
			background: #fff;
			display: flex;
			flex-direction: column;

			img{
				margin: 10px auto;
				width: 90%;
			}

			.subtitle{
				color: #6cc372;
				font-size: 24px;
				margin: 10px;

				@include xs-block {
					background: #f90;
					color: #fff;
					border-radius: 5px;
					padding: 5px 0;
				};
			}

			.job{
				margin: auto 10px 10px 10px;
			}

			.follow{
				background: #6cc372;
				color: #fff;
				font-size: 24px;
				cursor: pointer;
				border-radius: 5px;
				padding: 5px;
			}
		}
	}
}

.portfolio{
	background: $color_grey;
	padding: 10px 0;

	h2{
		color: $color_black;
	}

	.h2sub{
		color: $color_green;
	}

	.items{
		@include row-flex();
		justify-content: space-between;
		@include sm(justify-content, center);

		.item{
			@include col();
			/* какой дизайн, такой и код*/
			@include size(2.65);
			@include size-sm(5);
			//@include size-xxs(11);

			margin-top: 15px;
			margin-bottom: 15px;
			text-align: center;

			img{
				margin: 10px auto;
				width: 100%;
			}

			.txt{
				color: $color_black;
				font-size: 20px;
			}
		}
	}

	padding-bottom: 180px;
	@include md(padding-bottom, 20px);
}

.pricing{
	.h2sub{
		color: $color_red;
	}

	.items{
		@include row-flex();
		align-items: flex-end;
		margin-top: -156px;
		justify-content: center;
		@include md(margin-top, 40px);

		.item{
			@include col();
			@include size(4);
			@include size-md(8);
			@include size-xs(12);

			text-align: center;
			border-radius: 10px;
			overflow: hidden;
			@include md(margin-top, 40px);

			.title{
				background: #fff;
				padding: 0 30px;
				box-sizing: border-box;
				overflow: hidden;

				@include md-block {
				background: $color_green;
				color: #fff;
			};
			}

			ul{
				li{
					background: $color_grey;
					padding: 15px 0;
					border-bottom: 1px solid $color_black;
				}
			}

			.price{
				background: $color_red;
				color: #fff;
				padding: 10px 15px;

				.cur{
					font-size: 1.5em;
				}

				.val{
					font-size: 3em;
				}

				.per{
					font-size: 1.2em;
					margin-top: 10px;
				}

				a{
					color: $color_black;
					text-decoration: none;
					background: #fff;
					padding: 5px 20px;
					border-radius: 5px;
					margin-left: auto;
				}
			}
		}
	}
}

footer{
	.items{
		@include row-flex();

		.item{
			@include col();
			@include size(4);
			@include size-sm(12);

			background: #aaa;
			min-height: 200px;
			margin-bottom: 10px;

			.row{
				@include row-ib();
				font-size: 0;

				div{
					font-size: 1rem;

					@include col();
					@include col-ib();
					@include size(12);
					@include size-sm(4);
					@include size-xs(12);

					background: #f50;
				}
			}
		}
	}

}

.some{

	.items{
		min-height: 200px;
		color: #fff;

		@include row-flex();

		.item{
			@include col-padding();
		}

		.item-1{
			background: #6cc372;
			@include size(4);
			padding-right: 0;

			padding-left: 0;
			margin-left: $offset_one_side;
		}

		.item-2{
			background: #d94948;
			@include size(8);
			padding-left: $offset;

			padding-right: 0;
			margin-right: $offset_one_side;
		}
	}

}

